dreamlab-data-tree {
  --tree-indent-amount: 1em;

  & details {
    padding-left: var(--tree-indent-amount);
    margin-top: 0.125em;
  }

  & details:not(.directory)[data-selected] > summary {
    background-color: rgb(var(--color-primary) / 1);
  }

  & details:not(.directory)[data-selected] > summary:hover {
    background-color: rgb(var(--color-primary) / 0.85);
  }

  & details.directory[data-selected] > summary {
    background-color: rgb(var(--color-bg-2) / 0.5);
  }

  & details.directory[data-selected] > summary:hover {
    background-color: rgb(var(--color-bg-2) / 0.7);
  }

  & details > summary {
    margin-left: calc(var(--tree-indent-amount) * -1);
    position: relative;
    border-radius: var(--border-radius);
    padding: 0.25em;
    font-size: 0.95em;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;

    &::marker {
      content: "";
    }

    &::before {
      content: "";
      width: 2.25ch;
      flex-shrink: 0;
    }

    & > .arrow {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2.25ch;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      flex-shrink: 0;

      & > svg {
        width: 1.25em;
        height: 1.25em;
        transform: rotate(-90deg);
        transition: transform 0.1s ease;
      }
    }

    &:hover {
      background-color: rgb(var(--color-bg-2) / 0.5);
    }
  }

  & details[open] {
    & > summary > div.arrow > svg {
      transform: rotate(0deg);
    }
  }

  & details.directory {
    & > summary > div.arrow {
      display: flex;
    }
  }

  & details:not(.directory) {
    & > summary > div.arrow {
      display: none;
    }
  }
}
