dreamlab-data-table {
  display: block;

  & > table {
    table-layout: fixed;
    width: 100%;

    & th,
    & td {
      background-color: rgb(var(--color-bg-2) / 1);
      border-radius: var(--border-radius);
      padding: 0.5em;
      overflow: clip;
      text-overflow: ellipsis;

      & input[type="text"] {
        all: unset;
        appearance: none;
        width: 100%;
      }

      & code {
        user-select: all;
      }

      & code,
      & input[type="text"] {
        font-family: var(--font-mono);
        font-weight: 600;
      }
    }

    & :is(th, td):has(> input:invalid) {
      background-color: rgb(var(--color-bg-danger) / 1);
    }

    & th {
      text-align: end;
    }

    & td {
      text-align: start;
    }
  }
}
