html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#ui {
}

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100vh;
  height: 100vh;
}

.left-column {
  background-color: #f1f1f1;
}

.middle-column {
  display: grid;
  grid-template-rows: 90% 10%;
}

.middle-top {
  background-color: #e0e0e0;
}

.middle-bottom {
  background-color: #c0c0c0;
}

.right-column {
  background-color: #f1f1f1;
}