#app-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  padding-right: 1em;
  padding-left: 1em;
  align-content: center;

  & > * {
    flex: calc(1 / 3);
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

    &:nth-child(1) {
      justify-content: left;
    }

    &:nth-child(2) {
      justify-content: center;
    }

    &:nth-child(3) {
      justify-content: right;
    }
  }

  & h1 {
    margin-bottom: 0;
  }

  & :is(#edit-button, #play-button):has(> .disabled) {
    display: none;
  }

  &[data-play-running] #play-button {
    --color: rgb(var(--color-accent) / 1);
    --color-hover: rgb(var(--color-accent-lighter) / 1);
    --color-active: rgb(var(--color-accent-lighter) / 1);
  }

  & #edit-button {
    --color: rgb(var(--color-black) / 1);
    --color-hover: rgb(var(--color-black-lighter) / 1);
    --color-active: rgb(var(--color-black-lighter) / 1);
  }

  &[data-play-focused] #pause-button {
    --color: rgb(var(--color-yellow) / 1);
    --color-hover: rgb(var(--color-yellow-lighter) / 1);
    --color-active: rgb(var(--color-yellow-lighter) / 1);
    &.resume {
      --color: rgb(var(--color-green) / 1);
      --color-hover: rgb(var(--color-green-lighter) / 1);
      --color-active: rgb(var(--color-green-lighter) / 1);
    }
  }
  &:not([data-play-focused]) #pause-button {
    --color: rgb(var(--color-grey) / 1);
    --color-hover: rgb(var(--color-grey-lighter) / 1);
    --color-active: rgb(var(--color-grey-lighter) / 1);
  }

  & #stop-button {
    --color: rgb(var(--color-danger) / 1);
    --color-hover: rgb(var(--color-danger-lighter) / 1);
    --color-active: rgb(var(--color-danger-lighter) / 1);
  }

  & #stats {
    display: flex;
    flex-direction: column;
    gap: 0.125em;

    & * {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 0.25em;

      font-family: var(--font-mono);
      font-size: 0.95em;
      font-weight: 600;

      & > svg {
        width: 1.333em;
        height: 1.333em;
      }
    }
  }
}
