#behavior-panel {
  flex: 50%;
  display: flex;
  flex-direction: column;

  & #add-behavior-button {
    display: none;
    color: rgb(var(--color-primary) / 1);
    transition: color 0.2s ease;
  }

  & #add-behavior-button:hover {
    color: rgb(var(--color-primary) / 0.8);
  }

  & #behavior-list {
    font-size: smaller;
    height: 100%;

    & > div {
      height: 100%;
    }
  }

  & #select-something-notification {
    flex: 1;
    align-content: center;
    text-align: center;
    font-size: 0.95em;
    color: rgb(var(--color-text) / 0.5);
    padding: 0 0.5em;
    text-wrap: balance;
    line-height: 1.4;
  }

  & summary::marker {
    content: "";
  }

  & .behavior h2 {
    font-weight: 600;
  }

  & .delete-button {
    display: block;
    color: rgb(var(--color-danger) / 1);
    margin-left: auto;
    transition: color 0.2s ease;

    & svg {
      height: 1.5em;
      width: 1.5em;
    }
  }

  & .delete-button:hover {
    color: rgb(var(--color-danger) / 0.8);
  }

  & .behavior + .behavior {
    margin-top: 1em;
  }

  & #add-behavior {
    margin: 0.5em 0;

    transition: 0.125s ease-out;
    transition-property: padding-top max-height;

    max-height: 0;
    overflow-y: clip;

    & td button {
      width: 100%;
    }
  }

  & #add-behavior[data-open] {
    max-height: 5.5em;
  }
}
