.bottom-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bottom-tabs-bar {
  height: 2rem;
  display: flex;
  border-bottom: 1px solid rgb(var(--color-grey));
  background: rgb(var(--color-bg-1));
}

.bottom-tab {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0 1em;
  font-size: 0.875rem;
  color: rgb(var(--color-text-darker));
  cursor: pointer;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition:
    background 0.2s,
    color 0.2s;

  &[data-active] {
    color: rgb(var(--color-text));
    background: rgb(var(--color-bg-2));
    border-bottom: 2px solid rgb(var(--color-primary));
  }

  &:not([data-active]):hover {
    background: rgb(var(--color-bg-2));
    color: rgb(var(--color-text));
  }
}

.bottom-tabs-content {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
    min-height: 0;
  }
}

.pulse-tab {
  /* Base styles for your tab */
  background-color: rgb(37, 42, 54);
  color: #fff;

  /* The magic happens here */
  animation: pulseAnimation 1.5s infinite ease-in-out;
}

@keyframes pulseAnimation {
  0% {
    background-color: rgb(37, 42, 54);
    transform: scale(1);
  }
  50% {
    background-color: rgb(42, 107, 145); /* A bright blue */
    transform: scale(1.03);
  }
  100% {
    background-color: rgb(37, 42, 54);
    transform: scale(1);
  }
}

.hidden {
  display: none;
}
.loading-spinner svg {
  animation: spin 1s linear infinite;
}

[data-tab-id="logs"].has-new:not([data-active]) {
  background-color: rgb(var(--color-yellow));
  color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
