#context-menu-container {
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: transparent;

  z-index: 98;
}

#context-menu-container:has(#context-menu[data-open]) {
  visibility: visible;
}

#context-menu {
  visibility: hidden;

  position: fixed;
  z-index: 99;

  --cursor-x: 0;
  --cursor-y: 0;

  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 4px;
}

#context-menu section {
  display: flex;
  flex-direction: column;

  --section-offset: 0em;
  transform: translateX(min(var(--cursor-x), calc((100vw - 0.25em) - 100%)))
    translateY(min(var(--cursor-y) + var(--section-offset), calc((100vh - 0.25em) - 100%)));

  padding: 0;

  width: 16ch;
  background-color: rgb(var(--color-bg-2));
  color: rgb(var(--color-text));
  outline: 1px solid rgb(var(--color-text));

  border-radius: var(--border-radius);
}

#context-menu[data-open] {
  visibility: visible;
}

#context-menu a {
  display: inline-flex;
  padding: 0.5em;
  background-color: rgb(var(--color-bg-2));
  color: rgb(var(--color-text));

  height: 2.25em;
  max-height: 2.25em;

  align-content: center;
  justify-content: space-between;

  text-decoration: none;

  &[data-group]::after {
    content: "⏵";
  }

  &:hover,
  &[data-selected] {
    --alpha: 1;
    background-color: rgb(var(--color-accent) / var(--alpha));
    .theme-darker & {
      --alpha: 16.5%;
    }
  }
}
