#context-menu-container {
  visibility: hidden;

  position: fixed;
  width: auto;
  height: auto;
  top: var(--cursor-y);
  left: var(--cursor-x);

  z-index: 98;
}

#context-menu-container:has(#context-menu[data-open]) {
  visibility: visible;
}

#context-menu {
  visibility: hidden;

  position: relative;
  z-index: 99;

  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 4px;
}

#context-menu section {
  display: flex;
  flex-direction: column;

  --section-offset: 0em;

  padding: 0;

  width: 16ch;
  background-color: rgb(var(--color-bg-2));
  color: rgb(var(--color-text));
  outline: 1px solid rgb(var(--color-text));

  border-radius: var(--border-radius);
}

#context-menu[data-open] {
  visibility: visible;
}

#context-menu a {
  display: inline-flex;
  padding: 0.5em;
  background-color: rgb(var(--color-bg-2));
  color: rgb(var(--color-text));

  height: 2.25em;
  max-height: 2.25em;

  align-content: center;
  justify-content: space-between;

  text-decoration: none;

  &[data-group]::after {
    content: "⏵";
  }

  &:hover,
  &[data-selected] {
    --alpha: 1;
    background-color: rgb(var(--color-primary) / var(--alpha));
    .theme-darker & {
      --alpha: 16.5%;
    }
  }
}

#context-menu a[aria-disabled="true"] {
  opacity: 0.5;
  color: rgb(var(--color-text));
  cursor: not-allowed;
  position: relative;

  &::before {
    position: absolute;
    left: 0.2em;
    font-size: 1.2em;
    opacity: 0.7;
  }

  &:hover {
    background-color: rgba(var(--color-text), 0.1);
  }
}
