#game-overlays {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

#game-overlays #cursor-overlay {
  position: absolute;
  bottom: 1em;
  left: 1em;
  border-radius: var(--border-radius);

  display: grid;
  grid-template-columns: 1em auto auto;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  background-color: rgb(var(--color-bg-2) / 1);
  width: 16em;
  font-size: 0.9em;

  pointer-events: auto;
  opacity: 0.5;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  & * {
    font-family: var(--font-mono);
    font-weight: 600;
  }

  & svg {
    width: 1em;
    height: 1em;
  }

  & :nth-child(3n) {
    text-align: right;
  }
}
