#properties {
  display: flex;
  flex-direction: column;

  & > #select-something-notification {
    flex: 1;
    align-content: center;
    text-align: center;
    font-size: 0.95em;
    padding: 0 0.5em;
    color: rgb(var(--color-text) / 0.5);
    text-wrap: balance;
    line-height: 1.4;
  }

  & > #properties-display {
    font-size: smaller;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
