*.json
*.jsonc
*.md

*.generated.ts

multiplayer/worlds
multiplayer/pre-exec
singleplayer/web/runtime
singleplayer/web/worlds
singleplayer/web/bundled
client/web/dist
editor/web/dist
engine/_web/www
standalone/out

typedef-gen/dnt

coding-service
