@import url(./base.css);

html,
body {
  color: rgb(var(--color-text));
  background: rgb(var(--color-bg-0) / 1);
}

#viewport {
  width: 100vw;
  height: 100vh;

  & > * {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

dreamlab-connect-form {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;

  & section {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }

  & .instances article {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    & + article {
      margin-top: 1em;
    }
  }

  button {
    --color: rgb(var(--color-primary) / 1);
    --color-hover: rgb(var(--color-primary-lighter) / 1);
    --color-active: rgb(var(--color-primary-lighter) / 1);

    &.green {
      --color: rgb(var(--color-green) / 1);
      --color-hover: rgb(var(--color-green-lighter) / 1);
      --color-active: rgb(var(--color-green-lighter) / 1);
    }

    appearance: none;
    all: unset;

    display: inline-block;

    background-color: var(--color);
    border-radius: 4px;
    padding: 0.45em 0.85em;
    font-weight: 600;

    width: fit-content;

    cursor: pointer;
    transition: background-color 0.1s ease;

    &:hover {
      background-color: var(--color-hover);
    }
    &:active {
      background-color: var(--color-active);
    }
  }
}
