#app-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  padding-right: 1em;
  padding-left: 1em;
  align-content: center;

  & > * {
    flex: calc(1 / 3);
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

    &:nth-child(1) {
      justify-content: left;
    }

    &:nth-child(2) {
      justify-content: center;
    }

    &:nth-child(3) {
      justify-content: right;
    }
  }

  & h1 {
    margin-bottom: 0;
  }
}
