#behavior-panel {
  flex: 50%;
  display: flex;
  flex-direction: column;

  & #add-behavior-button {
    display: inline-block;
    padding: 0.125em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-align: center;

    text-decoration: none;

    color: rgb(var(--color-accent) / 1);
    border: 2px solid rgb(var(--color-accent) / 1);
    font-weight: bold;
  }

  & #behavior-list {
    font-size: smaller;
  }

  & #select-something-notification {
    flex: 1;
    align-content: center;
    text-align: center;
    font-size: 0.95em;
    padding: 0 0.5em;
    text-wrap: balance;
    line-height: 1.4;
  }

  & summary::marker {
    content: "";
  }

  & details > summary {
    display: flex;
    gap: 0.25em;

    position: relative;
    margin-bottom: 0.5em;

    & h2 {
      font-weight: 600;
      display: inline-block;
      margin-bottom: 0;
      font-weight: bold;
      margin-bottom: 0;
    }

    & a[role="button"] {
      display: block;
      margin-left: auto;

      user-select: none;

      width: 1.5em;
      height: 1.5em;

      padding: 0.125em;
      border-radius: 50%;
      text-align: center;

      text-decoration: none;

      color: rgb(var(--color-danger) / 1);
      border: 2px solid rgb(var(--color-danger) / 1);
      font-weight: bold;
    }

    &::before {
      display: inline-block;
      width: 1ch;
      max-width: 1ch;
      margin-right: 1ch;
      content: "";
    }

    & > div.arrow {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;

      & > svg {
        height: 100%;
        width: auto;
        transform: rotate(-90deg);
        transition: transform 0.1s ease;
      }
    }
  }

  & details[open] > summary > div.arrow > svg {
    transform: rotate(0deg);
  }

  & table {
    table-layout: fixed;
    width: 100%;
  }

  & input[type="text"] {
    all: unset;
    width: 100%;
    height: 100%;
  }

  & td {
    & code,
    & input[type="text"] {
      font-family: var(--font-mono);
      font-weight: 600;
    }
  }
  & th,
  & td {
    background-color: rgb(var(--color-bg-2) / 1);
    border-radius: var(--border-radius);
    padding: 0.5em;

    overflow: clip;
    text-overflow: ellipsis;
  }

  & td:empty,
  & td:has(> details) {
    background-color: rgb(var(--color-bg-1) / 1);
    padding-left: 0;
    padding-right: 0;
  }

  & th {
    text-align: end;
  }

  & td {
    text-align: start;
  }

  & details + details {
    margin-top: 1em;
  }

  & #add-behavior {
    margin: 0.5em 0;

    transition: 0.125s ease-out;
    transition-property: padding-top max-height;

    max-height: 0;
    overflow-y: clip;

    & td button {
      width: 100%;
    }
  }

  & #add-behavior[data-open] {
    max-height: 5.5em;
  }
}
