html,
body {
  color: rgb(var(--color-text));
  background: rgb(var(--color-bg-0) / 1);
}

main > div {
  border-radius: var(--border-radius);
}

section {
  padding: 0.5em;
  border-radius: var(--border-radius);
  background-color: rgb(var(--color-bg-1) / 1);

  overflow: auto;
  text-wrap: nowrap;
}

h1,
h2,
h3 {
  all: unset;
  display: block;
  margin-bottom: 0.5em;
}

h1 {
  font-weight: bold;
}
