#context-menu-container {
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: transparent;

  z-index: 98;
}

#context-menu-container:has(#context-menu[data-open]) {
  visibility: visible;
}

#context-menu {
  visibility: hidden;

  position: fixed;
  z-index: 99;

  --cursor-x: 0;
  --cursor-y: 0;

  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 4px;
}

#context-menu section {
  display: flex;
  flex-direction: column;

  --section-offset: 0em;
  transform: translateX(min(var(--cursor-x), calc(100vw - 100%)))
    translateY(min(var(--cursor-y) + var(--section-offset), calc(100vh - 100%)));

  padding: 0;

  width: 16ch;
  background-color: white;
  color: black;

  border-radius: var(--border-radius);
}

#context-menu[data-open] {
  visibility: visible;
}

#context-menu a {
  display: inline-flex;
  padding: 0.5em;
  background-color: white;
  color: black;

  height: 2.25em;
  max-height: 2.25em;

  align-content: center;

  text-decoration: none;
}

#context-menu a[data-group]::after {
  content: "⏵";
  float: inline-end;
}

#context-menu a:hover,
#context-menu a[data-selected] {
  background-color: rgb(208, 248, 255);
}
