#properties {
  flex: 50%;
  display: flex;
  flex-direction: column;
}

#properties #select-something-notification {
  flex: 1;
  align-content: center;
  text-align: center;
  font-size: 0.95em;
}

#properties table {
  table-layout: fixed;
  width: 100%;
}

#properties > table {
  font-size: smaller;
}

#properties table :is(h1, h2, h3) {
  display: inline-block;
}

#properties th,
#properties td {
  background-color: var(--col-bg-3);
  border-radius: 4px;
  padding: 0.5em;

  overflow: clip;
  text-overflow: ellipsis;
}

#properties td:has(> details) {
  background-color: var(--col-bg-2);
  padding-left: 0;
  padding-right: 0;
}

#properties th {
  text-align: end;
}

#properties td {
  text-align: start;
}

#properties td span {
  user-select: all;
}
