#scene-graph {
  flex: 100%;
  display: flex;
  flex-direction: column;
}

#scene-graph-tree {
  flex: 1;
}

#scene-graph-tree details {
  padding-left: 1em;
}
#scene-graph-tree details > summary {
  margin-left: -1em;
}

#scene-graph-tree summary::marker {
  content: "";
}

#scene-graph-tree details {
  margin-top: 0.25em;
}

#scene-graph-tree details > summary input {
  width: calc(100% - 4em);
}

#scene-graph-tree details > summary {
  border-radius: var(--border-radius);
  padding: 0.25em;

  cursor: pointer;
}

#scene-graph-tree details.drag-target > summary {
  box-shadow: 0 0 4px 1px rgb(var(--color-accent) / 1);
}

#scene-graph-tree details.selected > summary {
  --alpha: 1;
  background-color: rgb(var(--color-accent) / var(--alpha));

  .theme-darker & {
    --alpha: 16.5%;
  }
}

#scene-graph-tree .icon {
  display: inline-block;
}

#scene-graph-tree details > summary::before {
  display: inline-block;
  width: 1ch;
  max-width: 1ch;
  margin-right: 1ch;
  transform: translateY(-0.25ch);

  content: "⏵";
}
#scene-graph-tree details[open] > summary::before {
  content: "⏷";
}

#scene-graph-tree details:not(:has(> details)) > summary::before {
  content: "⏹" !important;
  opacity: 0;
}
