main {
  padding: 0.5em;

  width: 100vw;
  height: 100vh;

  display: grid;
  gap: 0.5em;
  grid-template-columns: minmax(16em, 4fr) minmax(0, 16fr) minmax(16em, 4fr);
  grid-template-rows: 3em 12fr minmax(0, 4em);
  grid-template-areas:
    "top    top       top"
    "left   viewport  right"
    "left   bottom    right";
}

/* TODO: hide the sidebars in play mode (we just want to see the game) */

main > div {
  all: unset;
  display: block;
}

#top-bar {
  grid-area: top;
}

#left-sidebar {
  grid-area: left;
}

#viewport {
  grid-area: viewport;
  overflow: hidden;
}

#right-sidebar {
  grid-area: right;
}

#bottom-bar {
  grid-area: bottom;
}

#left-sidebar,
#right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
