:root {
  color-scheme: dark;

  --color-text: 255 255 255;
  --color-bg-0: 27 34 49;
  --color-bg-1: 37 42 54;
  --color-bg-2: 55 65 81;
  --color-bg-danger: 92 42 54;

  --color-accent: 73 102 207;
  --color-danger: 255 0 0;

  --border-radius: 4px;
}

.theme-darker {
  --color-bg-0: 17 17 17;
  --color-bg-1: 24 24 24;
  --color-bg-2: 35 35 35;
  --color-accent: 206 91 255;
}
