@import url(./fonts/inter/inter.css);
@import url(./fonts/iosevka/iosevka.css);

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

code,
kbd,
samp,
pre {
  font-family: Iosevka;
}
