@import url(./fonts/inter/inter.css);
@import url(./fonts/iosevka/iosevka.css);

:root {
  /* TODO: more detailed font stack maybe? */
  --font-sans: Inter, sans-serif;
  --font-mono: Iosevka, monospace;

  font-family: var(--font-sans);
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: InterVariable, sans-serif;
  }
}

code,
kbd,
samp,
pre {
  font-family: var(--font-mono);
}
