main {
  --drag-handle-size: 0.5em;
  --left-sidebar-width: 4fr;
  --right-sidebar-width: 4fr;
  --bottom-bar-height: 4fr;

  padding: 0 0.5em 0.5em 0.5em;

  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-areas:
    "top    top      top       top      top"
    "left   drag-l   viewport  drag-r   right"
    "left   drag-l   drag-b    drag-r   right"
    "left   drag-l   bottom    drag-r   right";

  grid-template-columns:
    minmax(8em, var(--left-sidebar-width)) var(--drag-handle-size) /* left */
    minmax(0, 16fr) /* viewport */
    var(--drag-handle-size) minmax(8em, var(--right-sidebar-width)); /* right */
  grid-template-rows: 3em 12fr 0 minmax(3em, var(--bottom-bar-height));
}

main > div {
  all: unset;
  display: block;
}

#top-bar {
  grid-area: top;
}

#left-sidebar {
  grid-area: left;
  margin-top: 0.5em;
}

#viewport {
  grid-area: viewport;
  overflow: hidden;
  margin-top: 0.5em;
}

#right-sidebar {
  grid-area: right;
  margin-top: 0.5em;
}

#bottom-bar {
  grid-area: bottom;
  overflow: auto;
  margin-top: 0.5em;
}

#left-sidebar,
#right-sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#left-sidebar-drag {
  grid-area: drag-l;
  margin-top: 0.5em;
}
#right-sidebar-drag {
  grid-area: drag-r;
  margin-top: 0.5em;
}
#bottom-bar-drag {
  grid-area: drag-b;
}

#left-sidebar-drag,
#right-sidebar-drag {
  width: 4px;
  cursor: col-resize;
  transition: background-color 0.3s;
}

#left-sidebar-drag {
  justify-self: start;
}

#right-sidebar-drag {
  justify-self: end;
}

#bottom-bar-drag {
  height: 4px;
  cursor: row-resize;
  transition: background-color 0.3s;
}

#left-sidebar-drag:hover,
#right-sidebar-drag:hover,
#bottom-bar-drag:hover {
  background-color: #999;
}

.col-resize {
  cursor: col-resize !important;
}

.row-resize {
  cursor: row-resize !important;
}

#viewport > div {
  width: 100%;
  height: 100%;
}
