:root {
  --sidebar-width: 250px;
  --assistant-width: 300px;
  --background-color: #1b2231;
  --card-background-color: #252a36;
  --text-primary-color: #eceff1;
  --text-secondary-color: #90a4ae;
  --accent-primary-color: #3867d6;
  --accent-primary-hover-color: #284da0;
  --accent-secondary-color: #d33e6a;
  --accent-secondary-hover-color: #972a4c;
  --accent-green-color: #4caf50;
  --accent-green-hover-color: #388e3c;
  --accent-yellow-color: #ed8936;
  --accent-yellow-hover-color: #d97426;
  --accent-red-color: #f44336;
  --accent-red-hover-color: #c62828;
  --save-indicator: #e2e8f0;
  --col-alpha: 0.33;
  --col-info: rgba(58, 143, 255, var(--col-alpha));
  --col-warn: rgba(237, 137, 54, var(--col-alpha));
  --col-error: rgba(229, 62, 62, var(--col-alpha));
}

:root.dark-theme {
  --background-color: #1b2231;
  --card-background-color: #252a36;
  --text-primary-color: #eceff1;
  --text-secondary-color: #90a4ae;
  --accent-primary-color: #3867d6;
  --accent-primary-hover-color: #284da0;
  --accent-secondary-color: #d33e6a;
  --accent-secondary-hover-color: #972a4c;
  --accent-green-color: #4caf50;
  --accent-green-hover-color: #388e3c;
  --accent-yellow-color: #ed8936;
  --accent-yellow-hover-color: #d97426;
  --accent-red-color: #f44336;
  --accent-red-hover-color: #c62828;
  --save-indicator: #e2e8f0;
}

#log-controls {
  height: 2em;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--text-secondary-color);
  justify-content: space-between;
  background-color: var(--card-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  overflow: visible;
}

#log-controls > div {
  display: flex;
  align-items: center;
}

#log-controls input[type="search"] {
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-sizing: inherit;
  height: 1.5em;
  padding: 0.125em 0.25em;
  width: 32em;
  font-size: 1em;
  margin: 0 0.5em;
}

#log-controls button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  padding: 0.25em;
  color: var(--text-secondary-color);
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  margin-right: 0.5em;
}

#log-controls button:hover {
  background-color: #f0f0f0;
}

#log-controls button.active,
#clear-logs-btn:hover {
  color: var(--accent-primary-color);
  background-color: var(--card-background-color);
}

#log-controls button svg {
  margin-top: 3px;
  fill: currentColor;
  width: 1em;
  height: auto;
}

#log-output {
  font-family: ui-monospace, Menlo, Monaco, "Berkeley Mono", "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", monospace;
  width: 100%;
  height: 100%;
  overflow: auto;
  flex-grow: 1;
}

#log-output article time,
#log-output article .level {
  user-select: none;
}

#log-output article .message {
  user-select: text;
}

#log-output article .message::selection {
  background-color: var(--accent-primary-color);
  color: white;
}

#log-output article {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: none;
  transition: background-color 0.2s ease;
  padding: 0.1rem;
  font-size: 14px;
  font-weight: 400;
}

#log-output.show-grid article {
  border-bottom: 1px solid var(--text-secondary-color);
}

#log-output article:hover {
  background-color: var(--card-background-color);
}

#log-output article > * {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0 !important;
  border-inline-end: 1px solid var(--text-secondary-color);
}

#log-output article.info {
  background-color: var(--col-info);
}

#log-output article.warn {
  background-color: var(--col-warn);
}

#log-output article.error {
  background-color: var(--col-error);
}

#log-output article > time {
  width: 14em;
}

#log-output article > .level {
  width: 4em;
  font-weight: bold;
  text-transform: uppercase;
}

#log-output article > .message {
  flex: 1;
  text-align: start;
}

#log-output article[data-matches="false"] {
  display: none;
}
